@tailwind components;
@tailwind base;
@tailwind utilities;

.main {
  background-image: url("./assets/gencraft_image_1715076398775-1.png");
  background-repeat: no-repeat;
  background-size: cover;
}

.scroll-container {
  width: 100%;
  overflow: hidden;
}

@keyframes scroll {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-100%);
  }
}

.scroll-container .scroll {
  animation: scroll 5s linear infinite;
}

/* Spinner.css */
@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
#tsparticles canvas {
  z-index: -1;
  width: 10%;
  height: 10%;
  position: absolute;
}

.spinner {
  animation: spin 2s linear infinite;
}

/*   background-color: #01132d;
 */
